
body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-small-flower-umbrella-cartoon-background-spread-out-on-rainy-day-umbrellabluecartoonbackgroundraindrop-image_63626.jpg");
/* background-image: url('bola\ basket.jpg'); */
   font-family: 'Dancing Script', cursive;
        background-size:2000px;
        text-align: center;
}
p{
color: yellow;
}
h3{
color: blue;    
}
h4{
color: aqua;
}
tengah{
text-align: center;    
}